<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수어랑말해랑-수어사전</title>
    <link rel="stylesheet" href="/css/css_translation/sl-translation.css">
    <script src="https://kit.fontawesome.com/08f5f8a0fd.js" crossorigin="anonymous"></script>
      
</head>

<body>
    <div id="header-container"></div>

    <div class="banner">
        <div class="banner-font">
            <h2>수어번역</h2>
            <P>수어랑말해랑 수어번역</P>
        </div>
    </div>

    <div class="sl-translation">
        <div class="translation-contents">
            <div class="radio-box">
                <div class="radio-inputs">
                    <label class="radio" onclick="filterPosts('all')">
                        <input type="radio" name="radio" checked="">
                        <span class="name">안 내</span>
                    </label>
                    <label class="radio" onclick="filterPosts('free')">
                        <input type="radio" name="radio">
                        <span class="name">녹 화</span>
                    </label>
                    <label class="radio" onclick="filterPosts('suggestion')">
                        <input type="radio" name="radio">
                        <span class="name">번 역</span>
                    </label>
                </div>
            </div>

            <div class="video-box" style="display: none;">
                <video src=""></video>
            </div>

            <!-- 여기는 웹캠 화면 -->
            <div class="video-box">
                <div id="recordingStatus" style="display: none;">녹화중...</div>
                <video id="webcam" autoplay></video>
                <button id="startRecord">시작</button>
                <button id="stopRecord">종료</button>
                <canvas id="canvas" style="display: none;"></canvas>
            </div>

            <div class="dictionary-content">
                <div class="dictionary-group">
                    <div class="group">
                        <h3>자주 찾는 질문</h3>
                        <div class="item">
                            <div class="image-box">
                                <img src="../static/image/sign.jpg" alt="Image1">
                            </div>
                            <div class="text-box">
                                <p>의미 1</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image-box">
                                썸네일
                            </div>
                            <div class="text-box">
                                <p>의미 1</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image-box">
                                썸네일
                            </div>
                            <div class="text-box">
                                <p>의미 1</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- <div id="footer-container"></div> -->
    <script src="../static/js/js_headfoot/headFoot.js"></script>
    <script src="/js/js_sl-translation/sl-translation.js"></script>  
</body>

</html>