<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>수어랑말해랑-커뮤니티</title>
	<link rel="stylesheet" href="/css/css_board/board-list.css">
	<script src="https://kit.fontawesome.com/08f5f8a0fd.js" crossorigin="anonymous"></script>
</head>

<body>
	<div id="header-container"></div>

	<div class="banner">
		<div class="banner-font">
			<h2>커뮤니티</h2>
			<P>커뮤니티 전체목록</P>
		</div>
	</div>

	<div class="board-list">
		<div class="board-contents">
			<div class="tableset">
				<div class="textset textset-sub">
					<div class="radio-inputs">
						<label class="radio" onclick="filterByCategory('all')">
							<input type="radio" name="radio" checked="">
							<span class="name">전 체</span>
						</label>
						<label class="radio" onclick="filterByCategory('free')">
							<input type="radio" name="radio">
							<span class="name">자 유</span>
						</label>
						<label class="radio" onclick="filterByCategory('suggestion')">
							<input type="radio" name="radio">
							<span class="name">건 의</span>
						</label>
					</div>
					<form th:action="@{/board/main}" method="get" class="search">
						<select class="lang" name="searchField">
							<option value="title">제 목</option>
							<option value="writer">작성자</option>
						</select>
						<div class="search-box">
							<div class="search-field">
								<input placeholder="Search" class="input" type="text" th:name="${searchField}" th:value="${searchingWord}">
								<div class="search-box-icon">
									<button class="btn-icon-content" type="submit">
										<i class="fa-solid fa-magnifying-glass"></i>
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<table class="tableset-table">
					<thead class="headgroup">
						<tr>
							<th class="th1">번 호</th>
							<th class="th2">분 류</th>
							<th id="title" class="th3">제 목</th>
							<th class="th4">글쓴이</th>
							<th class="th5">조회수</th>
							<th class="th6">등록일</th>
							<th class="th7">추천수</th>
						</tr>
					</thead>
					<tbody class="line" id="post-list">
						<tr th:each="board,loop : ${paging}" >
							<td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}">
							</td>
							<td>
								<span th:if="${board.bdCategory eq 'Category 1'}" data-category="free">자유</span>
    							<span th:if="${board.bdCategory eq 'Category 2'}" data-category="suggestion">건의</span>
							</td>
							<td>
								<a th:href="@{|/board/detail/${board.bdIdx}|}" th:text="${board.bdTitle}"></a>
							</td>
							<td>
								<span th:if="${board.tbUser != null}" th:text="${board.tbUser.userNick}"></span>
							</td>
							<td>
								<span th:text="${board.bdViews}"></span>
							</td>
							<!--  #temporals.format(날짜객체, 날짜포맷) 날짜객체를 날짜포맷에 맞게 변환-->
							<td th:text="${#temporals.format(board.createdAt, 'yy-MM-dd')}">
							</td>
							<td>
								<span th:text="${bdLikes != null ? bdLikes.size() : 0}"></span>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="page-write">
				<button id="write" th:onclick="|location.href='@{/board/create}'|">글쓰기</button>

			</div>

			<div th:if="${!paging.isEmpty()}" class="pagiset pagiset-circ pagiset-border">
				<ul class="pagination" id="pagination">
					<nav class="pagiset-group">
						<li class="pagiset-ctrl" th:style="${!paging.hasPrevious} ? 'display:none;' : '' ">
							<a th:href="@{|?page=1|}" class="pagiset-link pagiset-first">
								<span class="visually-hidden">
									<i class="fa-solid fa-angles-left"></i>
								</span>
							</a>
						</li>
						<li class="pagiset-ctrl" th:style="${!paging.hasPrevious} ? 'display:none;' : '' ">
							<a th:href="@{|?page=${paging.number-1}|}" class="pagiset-link pagiset-prev">
								<span class="visually-hidden">
									<i class="fa-solid fa-angle-left"></i>
								</span>
							</a>
						</li>
						<li class="pagiset-list" th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
							th:if="${page >= paging.number-3 and page <= paging.number+3}">
							<a class="pagiset-link active-fill" th:text="${page+1}" th:href="@{|?page=${page}|}"></a>
						</li>
						<li class="pagiset-ctrl" th:style="${!paging.hasNext} ? 'display:none;' : '' ">
							<a class="pagiset-link pagiset-next" th:href="@{|?page=${paging.number+1}|}">
								<span class="visually-hidden">
									<i class="fa-solid fa-angle-right"></i>
								</span>
							</a>
						</li>
						<li class="pagiset-ctrl" th:style="${!paging.hasNext} ? 'display:none;' : '' ">
							<a th:href="@{|?page=int(paging/10)|}" class="pagiset-link pagiset-last">
                                <span class="visually-hidden">
                                    <i class="fa-solid fa-angles-right"></i>
                                </span>
                            </a>
						</li>
					</nav>
				</ul>
			</div>




		</div>
	</div>

	<div id="footer-container"></div>

	<script src="/js/js_headfoot/headFoot.js"></script>
	<script src="/js/js_board/board-list.js"></script>
</body>

</html>