<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수어랑말해랑-수어사전</title>
    <link rel="stylesheet" href="/css/css_dictionary/sl-dictionary.css">
    <script src="https://kit.fontawesome.com/08f5f8a0fd.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="header-container"></div>

    <div class="banner">
        <div class="banner-font">
            <h2>수어사전</h2>
            <P>수어랑말해랑 수어사전</P>
        </div>
    </div>

    <div class="sl-dictionary">
        <div class="dictionary-head">
            <div class="catesearch">
                <div class="radio-inputs">
                    <label class="radio" onclick="filterPosts('all')">
                        <input type="radio" name="radio" checked="">
                        <span class="name">전 체</span>
                    </label>
                    <label class="radio" onclick="filterPosts('free')">
                        <input type="radio" name="radio">
                        <span class="name">일 상</span>
                    </label>
                    <label class="radio" onclick="filterPosts('suggestion')">
                        <input type="radio" name="radio">
                        <span class="name">전 문</span>
                    </label>
                </div>
                <form action="#" class="search">
                    <div class="search-box">
                        <div class="search-field">
                            <input placeholder="Search" class="input" type="text">
                            <div class="search-box-icon">
                                <button class="btn-icon-content">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="dictionary-content">
                <div class="dictionary-group">
                    <div class="group">
                        <div class="item">
                            <div class="image-box">
                                <img src="/image/sign.jpg" alt="Image1">
                            </div>
                            <div class="text-box">
                                <p>가다</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image-box">
                                <img src="/image/sign.jpg" alt="Image1">
                            </div>
                            <div class="text-box">
                                <p>의미 1</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image-box">
                                <img src="/image/sign.jpg" alt="Image1">
                            </div>
                            <div class="text-box">
                                <p>의미 2</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- <div id="footer-container"></div> -->

    <script src="/js/js_headfoot/headFoot.js"></script>
    <script src="/js/js_dictionary/sl-dictionary.js"></script>
</body>

</html>