/* campland-N1[cGlor0e675] */
.signLangMain{
    overflow: hidden;
}

.contents-inner {
    padding: 5.5rem 1.6rem;
}

.contents-body {
    display: flex;
    justify-content: space-between;
    margin: 4rem 8rem 0;
}

.contents-left {
    position: relative;
    width: 50%;
    min-height: 56.3rem;
}

.contents-left .imageset {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50% + 20rem);
    height: 46rem;
}

.contents-left .imageset+.imageset {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    width: calc(50% + 10rem);
    height: 42rem;
}

.contents-right {
    width: 50%;
}

.contents-group+.contents-group {
    margin-top: 2.8rem;
    padding-top: 2.8rem;
    border-top: 1px solid var(--line-color1);
}

.contents-subtit {
    font-size: var(--fs-h5);
    line-height: var(--lh-h5);
    font-weight: 500;
}

.contents-subtit2 {
    font-size: var(--fs-h5);
    line-height: var(--lh-h5);
    font-weight: 500;
    margin-left: 35rem;
}

.contents-item-price2 {
    text-align: right;
}

.contents-list {
    margin-top: 1.6rem;
}

.contents-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: var(--fs-p2);
    line-height: var(--lh-p2);
}

.contents-item span {
    display: inline-block;
}

.contents-button {
    text-align: center;
}

@media (max-width: 992px) {

    .contents-inner {
        padding: 3rem 1.6rem;
    }


    .contents-body {
        flex-direction: column;
        margin: 2rem 4rem 0;
    }


    .contents-left {
        width: 100%;
        min-height: 30rem;
    }


    .contents-left .imageset {
        width: calc(100% - 8rem);
        height: 22.6rem;
    }


    .contents-left .imageset+.imageset {
        width: calc(100% - 8.8rem);
        height: 24rem;
    }


    .contents-right {
        width: 100%;
        margin-top: 4rem;
    }
}

b {
    font-size: 1.8rem;
}