<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수어랑말해랑</title>
    <!-- <link rel="stylesheet" href="./css/plugin.css"> -->
    <link rel="stylesheet" href="../static/css/css_headfoot/footer.css">
</head>

<body>
    <div class="signLang2" data-bid="SELoR0e8jB" id="">
        <div class="footer-container container-lg">
            <div class="footer-top">
                <h1 class="footer-logo">
                    <a href="javascript:void(0)">
                        <img src="../static/image/logo2.png" alt="로고">
                    </a>
                </h1>
                <ul class="footer-menulist">
                    <li class="footer-menuitem">
                        <a href="javascript:void(0)">
                            광주광역시 동구 SMHRD<br>
                            TEAM SALT
                        </a>
                    </li>
                    <li class="footer-menuitem">
                        <a href="javascript:void(0)">
                            팀장 : 김군순<br>
                            팀원 : 김다희 김훈종 이대섭 백지수
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="../static/js/js_headfoot/plugin.js"></script>
    <script src="../static/js/js_headfoot/template.js"></script>
    <script src="../static/js/js_headfoot/script.js"></script>
</body>

</html>