<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수어랑말해랑</title>
    <link rel="stylesheet" href="../static/css/css_headfoot/header.css">
    <script src="https://kit.fontawesome.com/08f5f8a0fd.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="signLang">
        <div class="header-container container-lg">
            <div class="header-left">
                <h1 class="header-title">
                    <a href="#">
                        <img src="../static/image/logo1.png" alt="로고">
                    </a>
                </h1>
            </div>
            <div class="header-center">
                <ul class="header-gnblist">
                    <li class="header-gnbitem">
                        <a class="header-gnblink" href="#">
                            <span class="menu-icon1">
                                <img src="../static/image/수어번역.jpg" width="85rem">
                                <p>수어번역</p>
                            </span>
                        </a>
                    </li>
                    <li class="header-gnbitem">
                        <a class="header-gnblink" href="#">
                            <span class="menu-icon2">
                                <img src="../static/image/수어사전.jpg" width="85rem">
                                <p>수어사전</p>
                            </span>
                        </a>
                    </li>
                    <li class="header-gnbitem">
                        <a class="header-gnblink" href="#">
                            <span class="menu-icon3">
                                <img src="../static/image/커뮤니티.jpg" width="85rem">
                                <p>커뮤니티</p>
                            </span>
                        </a>
                    </li>
                    <li class="header-gnbitem">
                        <a class="header-gnblink" href="#">
                            <span class="menu-icon4">
                                <img src="../static/image/공지사항.jpg" width="85rem">
                                <p>공지사항</p>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header-right">
                <div class="header-utils">
                    <a href="#" class="btn-profile header-utils-btn"> 
                        <i class="fa-regular fa-user fa-4x" alt="JOIN"></i>
                    </a>
                    <a href="#" class="btn-profile header-utils-btn"> 
                        <i class="fa-solid fa-right-to-bracket fa-4x" alt="LOGIN"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/js_headfoot/template.js"></script>
    <script src="../static/js/js_headfoot/script.js"></script>
    <script src="../static/js/js_headfoot/plugin.js"></script>
</body>

</html>