<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/08f5f8a0fd.js" crossorigin="anonymous"></script>
    <style>
        #heart {
            cursor: pointer;
            color: red;
        }
    </style>
</head>

<body>
    <i id="heart" class="fa-regular fa-heart fa-3x"></i>
</body>
<script>
    var heartIcon = document.getElementById("heart");

    heartIcon.addEventListener('click', function () {
        heartIcon.classList.toggle('fa-regular');
        heartIcon.classList.toggle('fa-solid');
    });
</script>

</html>