@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Pretendard-Regular';
    letter-spacing: 0.15rem;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    color: black;
    text-decoration: none;
}

/* Layout */
.container-sm {
    max-width: 1200px;
    margin: 0 auto;
}

.contents-inner {
    padding: 5.5rem 1.6rem;
    background-color: seagreen;
}

.contents-container{
    position: relative;
    background-color: red;
}

.main-form {
    display: flex;
}

.contents-left {
    position: relative;
    width: 50%;
    min-height: 56.3rem;
    background-color: gold;
}

.imageset-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.contents-right {
    width: 50%;
}

.contents-group+.contents-group {
    margin-top: 2.8rem;
    padding-top: 2.8rem;
    border-top: 1px solid #eee;
}

.contents-subtit {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
}

.contents-subtit2 {
    font-size: 1rem;
    line-height: 11rem;
    font-weight: 500;
    margin-left: 35rem;
}

.contents-item-price2 {
    text-align: right;
}

.contents-list {
    margin-top: 1.6rem;
}

.contents-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1rem;
}

.contents-item span {
    display: inline-block;
}

.contents-button {
    text-align: center;
}

@media (max-width: 786px) {

    .contents-inner {
        padding: 3rem 1.6rem;
    }


    .contents-body {
        flex-direction: column;
        margin: 2rem 4rem 0;
    }


    .contents-left {
        width: 100%;
        min-height: 30rem;
    }


    .contents-left .imageset {
        width: calc(100% - 8rem);
        height: 22.6rem;
    }


    .contents-left .imageset+.imageset {
        width: calc(100% - 8.8rem);
        height: 24rem;
    }


    .contents-right {
        width: 100%;
        margin-top: 4rem;
    }
}

b {
    font-size: 1.8rem;
}

