<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
	<!-- 게시글 -->
	<h2 class="border-bottom py-2" th:text="${board.boardTitle}"></h2>
	<div class="card my-3">
		<div class="card-body">
			<div class="card-text" style="white-space: pre-line;" th:text="${board.boardCon}"></div>
			<div class="d-flex justify-content-end">
				<div class="badge bg-light text-dark p-2 text-start">
					<div class="mb-2">
						<span th:if="${board.member != null}" th:text="${board.member.username}"></span>
					</div>
					<div th:text="${#temporals.format(board.boardDate, 'yyyy-MM-dd HH:mm')}"></div>
				</div>
			</div>
			<div class="my-3">
				<a th:href="@{|/board/update/${board.boardNum}|}" class="btn btn-sm btn-outline-secondary"
					sec:authorize="isAuthenticated()"
					th:if="${board.member != null and #authentication.getPrincipal().getUsername() == board.member.username}"
					th:text="수정"></a>
				<!-- #authentication.getPrincipal()은 Principal 객체를 리턴하는 타임리프의 유틸리티 -->
				<!-- 삭제
	          		th:data-uri - 자바스크립트에서 클릭이벤트 발생시 this.dataset.uri를 사용하여 값을 얻음
	          -->
				<a href="javascript:void(0);" th:data-uri="@{|/board/delete/${board.boardNum}|}"
					class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
					th:if="${board.member != null and #authentication.getPrincipal().getUsername() == board.member.username}"
					th:text="삭제"></a>

			</div>
			<a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
				th:data-uri="@{|/board/good/${board.boardNum}|}">
				추천
				<span class="badge rounded-pill bg-success" th:text="${#lists.size(board.good)}"></span>
			</a>
		</div>
	</div>
	<!-- 댓글 갯수 표시 -->
	<h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(board.repleList)}개의 댓글이 있습니다.|"></h5>
	<!-- 댓글 반복 시작 -->
	<div class="card my-3" th:each="reple : ${board.repleList}">
		<a th:id="|reple_${reple.repleNum}|"></a>
		<div class="card-body">
			<div class="card-text" style="white-space: pre-line;" th:text="${reple.repleCon}"></div>
			<div class="d-flex justify-content-end">
				<div class="badge bg-light text-dark p-2 text-start">
					<div class="mb-2">
						<span th:if="${reple.member != null}" th:text="${reple.member.username}"></span>
					</div>
					<div th:text="${#temporals.format(reple.repleDate, 'yyyy-MM-dd HH:mm')}"></div>
				</div>
			</div>
			<!-- 댓글 수정-->
			<div class="my-3">
				<a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
					th:data-uri="@{|/reple/good/${reple.repleNum}|}">
					추천
					<span class="badge rounded-pill bg-success" th:text="${#lists.size(reple.good)}"></span>
				</a>
				<a th:href="@{|/reple/update/${reple.repleNum}|}" class="btn btn-sm btn-outline-secondary"
					sec:authorize="isAuthenticated()"
					th:if="${reple.member != null and #authentication.getPrincipal().getUsername() == reple.member.username}"
					th:text="수정"></a>
				<a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${reple.repleNum}|}"
					class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
					th:if="${reple.member != null and #authentication.getPrincipal().getUsername() == reple.member.username}"
					th:text="삭제"></a>
			</div>
		</div>
	</div>
	<!-- 댓글 반복 끝  -->
	<!-- 댓글 작성 -->
	<form th:action="@{|/reple/create/${board.boardNum}|}" th:object="${repleForm}" method="post" class="my-3">
		<!-- 에러 공통템플릿 -->
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		<!-- 로그인 안했을떄-->
		<textarea sec:authorize="isAnonymous()" disabled th:field="*{repleCon}" rows="10"
			class="form-control"></textarea>
		<!-- 로그인 했을때-->
		<textarea sec:authorize="isAuthenticated()" th:field="*{repleCon}" rows="10" class="form-control"></textarea>
		<input type="submit" value="댓글등록" class="btn btn-primary my-2">
	</form>
</div>
<script layout:fragment="script" type='text/javascript'>
	const delete_board = document.getElementsByClassName("delete");
	Array.from(delete_board).forEach(function (element) {
		element.addEventListener('click', function () {
			if (confirm("정말로 삭제하시겠습니까?")) {
				location.href = this.dataset.uri;
			};
		});
	});

	const board_good = document.getElementsByClassName("recommend");
	Array.from(board_good).forEach(function (element) {
		element.addEventListener('click', function () {
			if (confirm("정말로 추천하시겠습니까?")) {
				location.href = this.dataset.uri;
			};
		});
	});
</script>

</html>